params.in = "$baseDir/test.txt"
params.db = "$baseDir/reference.msh"
params.out = "$HOME/test_sra"

process.executor = "sge"
process.queue = "all.q"
process.shell = ['/bin/bash', '-l']
process.penv = 'smp'
executor.queueSize = 100
executor.pollInterval = '1 min'

process {
  withName:sradownload {
    container = 'pegi3s/sratoolkit'
  }

  withName:mash {
    container = 'quay.io/biocontainers/mash:2.2.2--ha61e061_2'
  }

}
singularity.enabled = true
  
