params.in = "$baseDir/test.txt"
params.db = "$baseDir/reference.msh"
params.out = "$HOME/test_sra"



profiles {

  singularity {
    process {
      withName:sradownload {
        container = 'pegi3s/sratoolkit'
      }

      withName:mash {
        container = 'quay.io/biocontainers/mash:2.2.2--ha61e061_2'
      }

    }
    singularity.enabled = true
    //singularity.cacheDir = "$baseDir/cache/"
  }
  
}
